1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

In [55]:
print("Values are: ",'hello,',-87.8,", and, ",6)
print("Expressions are :", "*, -, /, +")

Values are:  hello, -87.8 , and,  6
Expressions are : *, -, /, +

2. What is the difference between string and variable?

In [56]:
print('''String is defined as the values(like an integer, a float, or a character or word or sentences etc) inside 
      double quote or single quote values
      for exmple ''',"--> 'Faiz' and",'"87.8"')
print()
print('''A character or a word that store some value called variable
        for example ---> a = 85
        here a is "a" variable and "85" is a value store by "a"''')

String is defined as the values(like an integer, a float, or a character or word or sentences etc) inside
      double quote or single quote values
      for exmple  --> 'Faiz' and "87.8"

A character or a word that store some value called variable
        for example ---> a = 85
        here a is "a" variable and "85" is a value store by "a"

3. Describe three different data types.

In [57]:
print('''1.Tuple: Tuple is a primitive or built-in data type in python 
                we can create a tuple with the help of round bracket "()" or by built-in function "tuple()"
                it is immutable in nature that means we can not change the value once created but 
                we can itrate the value of tuple as it is itrable in nature 
for example:''')
t = (1,2,3)
print(type(t))
t1 = [7,8,9,2]
print(type(t1))
t2 = tuple(t1)
print(type(t2))
print()
print(''' 2.Dictionary: It is a also primitive data type in python 
            we can create a dictionary with the help of curly bracket "{}" or by built-in function "dict()"
            dictionary store values in "key" and "pair" wise where key can not be duplicate or must be unique but 
            values can be duplicate, as it is mutable in nature so we can add or remove or change values as we as keys
            from the existing one 
for example: ''')
d = {'name':"faiz","email":"fazlullahb@gmail.com"}
print(type(d))
print(d)
d["name"] = "sudh"
print(d)
print()
print('''3. Set: It is a also primitive data type in python 
            we can create a set data type with the help of curly bracket "{}" or by built-in function "set()"
            set will not allow duplicate value and the indexing of values will not be preserved here
for example: ''')
s = {1,2,3,4,5,6,6,7,7}
print(type(s))
print(s)
l = [1,7,8,9,5,2,3,5]
s1 = set(l)
print(type(s1))
print(s1)

1.Tuple: Tuple is a primitive or built-in data type in python
                we can create a tuple with the help of round bracket "()" or by built-in function "tuple()"
                it is immutable in nature that means we can not change the value once created but
                we can itrate the value of tuple as it is itrable in nature
for example:
<class 'tuple'>
<class 'list'>
<class 'tuple'>

 2.Dictionary: It is a also primitive data type in python
            we can create a dictionary with the help of curly bracket "{}" or by built-in function "dict()"
            dictionary store values in "key" and "pair" wise where key can not be duplicate or must be unique but
            values can be duplicate, as it is mutable in nature so we can add or remove or change values as we as keys
            from the existing one
for example:
<class 'dict'>
{'name': 'faiz', 'email': 'fazlullahb@gmail.com'}
{'name': 'sudh', 'email': 'fazlullahb@gmail.com'}

3. Set: It is a also primitive data type in python
            we can create a set data type with the help of curly bracket "{}" or by built-in function "set()"
            set will not allow duplicate value and the indexing of values will not be preserved here
for example:
<class 'set'>
{1, 2, 3, 4, 5, 6, 7}
<class 'set'>
{1, 2, 3, 5, 7, 8, 9}

4. What is an expression made up of? What do all expressions do?

In [50]:
print('''An expression is made up of the combinations of values and mathematical operators and 
        it will reduce the values in a single value 
for example: "5*8/9+4-6" to 2.4444444444444446''')
print()
print(5*8/9+4-6)

An expression is made up of the combinations of values and operators and
        it will reduce the values in a single value
for example: "5*8/9+4-6" to 2.4444444444444446

2.4444444444444446

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [51]:
print('''An expression actually evalute the value where as assignment store the value ''')

An expression actually evalute the value where as assignment store the value

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [52]:
print("ANswer : 22")
bacon = 22
bacon + 1
print(bacon)

ANswer : 22
22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [53]:
print(''''spam' + 'spamspam': it will concatinate both the string like "spamapamapam" 

        'spam' * 3: it will repeate the sting 3 time like spamspamspam
        
        ''')

print('spam' + 'spamspam')
print()
print('spam'*3)

'spam' + 'spamspam': it will concatinate both the string like "spamapamapam"

        'spam' * 3: it will repeate the sting 3 time like spamspamspam


spamspamspam

spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

In [54]:
print('''Because "eggs" is a word and "100" is a numerical value 
            and in python we can not start a varible name with numerical value  ''')

Because "eggs" is a word and "100" is a numerical value
            and in python we can not start a varible name with numerical value